.cards-grid
  .cards-grid__top
    .history-card
      .history-card__top
        img(src=require("../../images/h1.jpeg") alt="history picture").history-card__image
      .history-card__body
        p.history-card__title война в Афгане
        p.history-card__label.
          <b>68 000</b> человек
          <br>
          за <b>10</b> лет
        p.history-card__text.
          За всю десятилетнюю войну в Афгане СССР потеряла убитыми и ранеными 68 тысяч солдат из контингента в
           620 тысяч человек, то есть 11% военнослужащих.

    .history-card
      .history-card__top
        img(src=require("../../images/h2.jpeg") alt="history picture").history-card__image
      .history-card__body
        p.history-card__title Первая чеченская
        p.history-card__label.
          <b>14 000</b> человек
          <br>
          за <b>2</b> года
        p.history-card__text.
          В Первую Чеченскую
          Российская Федерация потеряла около 14 тысяч человек за два года.

    .history-card
      .history-card__top
        img(src=require("../../images/h3.jpeg") alt="history picture").history-card__image
      .history-card__body
        p.history-card__title вторая чеченская
        p.history-card__label.
          <b>10 000</b> человек
          <br>
          за <b>10</b> лет
        p.history-card__text.
         Во Вторую Чеченскую –
         более 10 тысяч человек.


  .cards-grid__bottom
    .history-banner
      .history-banner__left
        h2.history-banner__title война на украине
        p.history-banner__subtitle.
          <b>13 800</b> человек за <b>3</b> недели
        p.history-banner__text.
          А на украинских фронтах РФ потеряла около <span>13 800</span> человек всего за первые три недели активных
           боевых действий. Это означает, что дальнейшие потери будут расти, и эта война войдёт в историю Российской
           Федерации, как самая <span>тяжёлая</span> и <span>кровопролитная</span> во всей её новейшей истории.
      .history-banner__right
        .history-banner__grid
          img(src=require("../../images/b1.jpeg") alt="war picture").history-banner__image
          img(src=require("../../images/b2.jpeg") alt="war picture").history-banner__image
          img(src=require("../../images/b3.jpeg") alt="war picture").history-banner__image
          img(src=require("../../images/b4.jpeg") alt="war picture").history-banner__image
