section.section
  .container
    .partners-section
      .partners-section__title
        h3.title partners
          .title__icon
            include ../../images/svg/star-7.svg
      .partners-section__body
        p.partners-section__subtitle.
          We are collaborating with 100+ global companies
          to help employers and job seekers find each other.
        .partners-section__grid
          .partners-section__link
            picture
              source(srcset=require('../../images/partner.webp') type="image/webp")
              img(src=require('../../images/partner.png') alt="decor").img.img--contain
          .partners-section__link
            picture
              source(srcset=require('../../images/partner-2.webp') type="image/webp")
              img(src=require('../../images/partner-2.png') alt="decor").img.img--contain
          .partners-section__link
            picture
              source(srcset=require('../../images/partner.webp') type="image/webp")
              img(src=require('../../images/partner.png') alt="decor").img.img--contain
          .partners-section__link
            picture
              source(srcset=require('../../images/partner-2.webp') type="image/webp")
              img(src=require('../../images/partner-2.png') alt="decor").img.img--contain
          .partners-section__link
            picture
              source(srcset=require('../../images/partner.webp') type="image/webp")
              img(src=require('../../images/partner.png') alt="decor").img.img--contain
          .partners-section__link
            picture
              source(srcset=require('../../images/partner-2.webp') type="image/webp")
              img(src=require('../../images/partner-2.png') alt="decor").img.img--contain
        p.partners-section__text.
          If you can't find an answer here, please reach out to us at
          <br><a href="mailto:support@competenzlab.io"><b>support@competenzlab.io</b></a>
