extends pug/layouts/_layout

block content
  main.main
    header(style="background-color: #010E28; height: 87px")
    .container
      section.section
        .section__header
          h1.section__heading.section__heading--md Get in Touch with Us for Any Questions
          p.section__subtitle Choose from one of the emails below to get in touch with us or simply drop us a message.
        .chiefs
          .chiefs__grid
            each item, index in users
              .chiefs__item
                .chiefs__title= item.title
                .chiefs__picture
                  img(src=require(`./images/0${index + 1}.jpeg`)).chiefs__image
                .chiefs__name= item.name
                .chiefs__position= item.position
                a(href="#form").chiefs__icon
                  include ./images/svg/email.svg
        form#form.form
          input(type="text" placeholder="Select")
